@import "normalize.scss";
@import "variables.scss";
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body, html {
  min-height: 100%;
}

.ba-container {
  max-width: 1170px;
  margin: 0 auto;
}
//Header section
.ba-header {
  min-height: 900px;
  padding-top: 57px;
  background: #024869 url("../../assets/img/hero-img.jpg") 50% no-repeat;
  background-size: cover;
  position: relative;
}
.ba-logo {
  float: left;
}
.ba-menu {
    list-style: none;
    padding:0;
    margin:0;
    &__item {
      display: inline-block;
      float: left;
      margin-left: 50px;
      &:first-child {
        margin-left: 430px;
      }
    }
    &__link {
      text-decoration: none;
      color: #fffefe;
      font-family: $font-family-lato;
      font-size: 14px;
      font-weight: 500;
      line-height: 38px;
      text-transform: uppercase;
    }
}
.ba-banner {
  margin:0 auto;
  padding-top: 252px;
  text-align: center;
  &__title {
    color: #ffffff;
    font-family: $font-family-raleway;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }
  &__description {
    color: #fffefe;
    font-family: $font-family-lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}
.ba-horizontal-line {
  width: 86px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto 44px;
}
.ba-scroll {
  position: absolute;
  bottom: 46px;
  left: 50%;
  width: 93px;
  margin-left: -46px;
  height: 93px;
  background: url(../../assets/img/button-hero.svg) no-repeat 50%;
}
//Services section
#ba-services {
  padding: 116px 0;
  text-align: center;
  .ba-horizontal-line {
    background-color: #222222;
    margin-top: 74px;
  }
}
.ba-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ba-flex-item {
  padding: 10px;
  max-width: 340px;
  flex-grow: 1;
  flex-shrink: 1;
  vertical-align: middle;
    &__logo {
      padding-bottom: 52px;
      &--higher {
        padding-bottom: 37px;
      }
      &--lower {
        padding-top: 21px;
        padding-bottom: 48px;
      }
    }
    &__title {
      color: #222222;
      font-family: $font-family-lato;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 32px;
    }
    &__description {
      color: #222222;
      font-family: $font-family-lato;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
    }
}

//About section
#ba-about {
  min-height: 500px;
  background: rgba(0,0,0,0.5) url("../../assets/img/about-us-img-bg.jpg") 50% no-repeat;
  background-size: cover;
  position: relative;
}
