@import "normalize.scss";
@import "variables.scss";
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body, html {
  min-height: 100%;
}

.ba-container {
  max-width: 1170px;
  margin: 0 auto;
}
//Header section
.ba-header {
  min-height: 900px;
  padding-top: 57px;
  background: #024869 url("../../assets/img/hero-img.jpg") 50% no-repeat;
  background-size: cover;
  position: relative;
}
.ba-logo {
  float: left;
}
.ba-menu {
    list-style: none;
    padding:0;
    margin:0;
    &__item {
      display: inline-block;
      float: left;
      margin-left: 50px;
      &:first-child {
        margin-left: 430px;
      }
    }
    &__link {
      display: block;
      text-decoration: none;
      color: #fffefe;
      font-family: $font-lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      position: relative;
      &:before {
        display: block;
        background-color: #ffffff ;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 15px;
        height: 3px;
        opacity: 0;
        transform: translateY(-15px);
        transition: transform .2s ease-in, opacity .2s ease-in;
      }
      &:hover:before {
        opacity: 1;
        transform: translateY(0);
      }
    }
}
.ba-banner {
  margin:0 auto;
  padding-top: 252px;
  text-align: center;
  &__title {
    color: #ffffff;
    font-family: $font-raleway;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }
  &__description {
    color: #fffefe;
    font-family: $font-lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}
.ba-horizontal-line {
  width: 86px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto 44px;
}
.ba-scroll {
  position: absolute;
  bottom: 46px;
  left: 50%;
  width: 93px;
  margin-left: -46px;
  height: 93px;
  background: url(../../assets/img/button-hero.svg) no-repeat 50%;
  &:hover {
    transform: scale(1.1);
  }
}
//Services section
.ba-services {
  padding: 116px 0;
  text-align: center;
  &__title {
    color: #222222;
    font-family: $font-raleway;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }
  .ba-horizontal-line {
    background-color: #222222;
    margin-top: 74px;
  }
}
.ba-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ba-flex-services-item {
  padding: 10px;
  max-width: 340px;
  flex-grow: 1;
  flex-shrink: 1;
  vertical-align: middle;
    &__logo {
      padding-bottom: 52px;
      &--higher {
        padding-bottom: 37px;
      }
      &--lower {
        padding-top: 21px;
        padding-bottom: 48px;
      }
    }
    &__title {
      color: #222222;
      font-family: $font-lato;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 32px;
    }
    &__description {
      color: #222222;
      font-family: $font-lato;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
    }
}

//About section
.ba-about {
  padding: 173px 0 115px 0;
  background: rgba(0,0,0,1) url("../../assets/img/about-us-img-background.jpg") 50% no-repeat;
  background-size: cover;
  position: relative;
  &__title {
    color: #ffffff;
    font-family: $font-lato;
    font-size: 45px;
    font-weight: 400;
    line-height: 90px;
    text-transform: uppercase;
  }
  &__description {
    color: #ffffff;
    font-family: $font-lato;
    font-size: 22px;
    font-weight: 100;
    line-height: 28px;
    padding-bottom: 70px;
  }
  &__link{
    color: #ffffff;
    font-family: $font-lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
    &:hover {
      color: #222222;
    }
  }
  &__img {
    border-radius: 35px 35px 0 0;
    position: absolute;
    right: 313px;
    bottom: 0;
  }
}
//Works section
.ba-works {
  padding: 118px 0 80px 0;
  text-align: center;
  &__title {
    color: #222222;
    font-family: $font-raleway;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }
  .ba-horizontal-line {
    background-color: #222222;
    margin-top: 73px;
  }
}
.ba-flex-works-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 91px;
}
.ba-flex-works-item {
  margin: 15px 0;
  max-width: 370px;
  height: 420px;
  flex-grow: 1;
  flex-shrink: 1;
  vertical-align: middle;
  position: relative;
  .ba-works-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    visibility: hidden;
      &__title {
        color: #ffffff;
        font-family: $font-lato;
        font-size: 22px;
        font-weight: 400;
        line-height: 60px;
        text-transform: uppercase;
        margin-top: 150px;
        margin-bottom: 27px;
      }
  }
}
.ba-flex-works-item--center {
  margin: 0 15px;
}
.ba-flex-works-item:hover .ba-works-overlay {
  visibility: visible;
}
//Footer section
.ba-works-footer {
  padding: 80px 0;
  margin: 0 auto;
  &__btn {
    width: 370px;
    height: 60px;
    border: 3px solid #222222;
    background: #ffffff;
    color: #222222;
    font-family: $font-lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    &:hover {
      color: #ffffff;
      background: #222222;

    }
  }
}
.ba-footer {
  padding: 120px 0;
  background: #131b1e url("../../assets/img/footer-bg.jpg") 50% no-repeat;
  background-size: cover;
  text-align: center;
  &__title {
    color: #ffffff;
    font-family: $font-raleway;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }
  .ba-horizontal-line {
    background-color: #ffffff;
    margin-top: 74px;
  }
}
.ba-social-icon-container {
  margin: 70px 0 80px 0;
}
.ba-social-icon {
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
      display: inline-block;
      margin-left: 30px;
    }
    &__link {
      text-decoration: none;
    }
    &__img {
          &:hover {
            transform: scale(1.3);
          }
    }
}
.ba-form {
  &__input {
    background: none;
    border: none;
    border-bottom: 2px solid #afafaf;
    padding-left: 28px;
    color: #676767;
    font-family: $font-lato;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 40px;
    &-short {
      width: 302px;
      margin: 0 30px 100px;
    }
    &-long {
      width: 669px;
    }
  }
  &__btn {
    width: 183px;
    height: 60px;
    border: 3px solid #ffffff;
    background: none;
    color: #ffffff;
    font-family: $font-lato;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
    &:hover {
      border-color: #555555;
      color: #555555;
    }
  }
}









//лазолван
//амброксол