@import "normalize.scss";
@import "variables.scss";

.ba-container {
  max-width: 1170px;
  background-color: #ffffff;
}

.ba-header {
  background: #024869 url("asse")
}








//font-family: 'Lato', sans-serif;
//font-family: 'Raleway', sans-serif;